ec2NodeClasses:
  - name: main
    enabled: true
    clusterName: ${cluster_name}
    role: ${karpenter_node_role_name}
    amiFamily: "AL2023"
    
nodePools:
  - name: general-x86
    nodeClass: main
    enabled: true
    labels:
      group: x86
    taints:
      - key: workload
        value: x86
        effect: NoSchedule
    requirements:
      - key: kubernetes.io/arch
        operator: In
        values: ["amd64"]
      - key: karpenter.sh/capacity-type
        operator: In
        values: ["on-demand"]
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values: ["t3", "t3a", "m6a", "m6i", "m7a", "m7i", "m8a", "m8i"]
      - key: "karpenter.k8s.aws/instance-cpu"
        operator: In
        values: ["4", "8"]
    disruption:
      consolidationPolicy: WhenEmpty
      consolidateAfter: "30s"

  - name: spot-x86
    nodeClass: main
    enabled: true
    labels:
      group: spot
    taints:
      - key: workload
        value: spot
        effect: NoSchedule
    requirements:
      - key: kubernetes.io/arch
        operator: In
        values: ["amd64"]
      - key: karpenter.sh/capacity-type
        operator: In
        values: ["spot"]
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values: ["t3", "t3a", "m6a", "m6i", "m7a", "m7i", "m8a", "m8i"]
      - key: "karpenter.k8s.aws/instance-cpu"
        operator: In
        values: ["4", "8"]
    disruption:
      consolidationPolicy: WhenEmpty
      consolidateAfter: "30s"

  - name: general-arm
    nodeClass: main
    enabled: true
    labels:
      group: arm
    taints:
      - key: workload
        value: arm
        effect: NoSchedule
    requirements:
      - key: kubernetes.io/arch
        operator: In
        values: ["arm64"]
      - key: karpenter.sh/capacity-type
        operator: In
        values: ["on-demand"]
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values: ["t4g", "m6g", "m7g", "m8g"]
      - key: "karpenter.k8s.aws/instance-cpu"
        operator: In
        values: ["4", "8"]
    disruption:
      consolidationPolicy: WhenEmpty
      consolidateAfter: "30s"
