{{- range .Values.nodePools }}
{{- if .enabled }}
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: {{ .name | quote }}
spec:
  {{- if .replicas }}
  replicas: {{ .replicas }}
  {{- end }}

  template:
    metadata:
      {{- if or .labels .annotations }}
      {{- if .labels }}
      labels:
        {{- toYaml .labels | nindent 8 }}
      {{- end }}
      {{- if .annotations }}
      annotations:
        {{- toYaml .annotations | nindent 8 }}
      {{- end }}
      {{- end }}
    spec:
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: {{ required ".name is required" .nodeClass | quote }}

      {{- with .taints }}
      taints:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .startupTaints }}
      startupTaints:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- if .expireAfter }}
      expireAfter: {{ .expireAfter | quote }}
      {{- end }}

      {{- if .terminationGracePeriod }}
      terminationGracePeriod: {{ .terminationGracePeriod | quote }}
      {{- end }}

      {{- with .requirements }}
      requirements:
        {{- toYaml . | nindent 8 }}
      {{- end }}

  {{- with .disruption }}
  disruption:
    {{- if .consolidationPolicy }}
    consolidationPolicy: {{ .consolidationPolicy | quote }}
    {{- end }}
    {{- if .consolidateAfter }}
    consolidateAfter: {{ .consolidateAfter | quote }}
    {{- end }}
    {{- with .budgets }}
    budgets:
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}

  {{- with .limits }}
  limits:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if .weight }}
  weight: {{ .weight }}
  {{- end }}
---
{{- end }}
{{- end }}
