# values.yaml for new Karpenter versions

ec2NodeClasses:
  - name: general
    enabled: true
    clusterName: eks-cluster
    role: karpenter-node-role
    amiFamily: AL2023

nodePools:
  - name: general-amd64
    enabled: true
    labels:
      workload.arch: amd64
    requirements:
      - key: kubernetes.io/arch
        operator: In
        values: ["amd64"]
      - key: karpenter.sh/capacity-type
        operator: In
        values: ["on-demand"]
      - key: karpenter.k8s.aws/instance-category
        operator: In
        values: ["a", "c", "d", "f", "g", "i", "p", "r", "t", "m"]
      - key: karpenter.k8s.aws/instance-generation
        operator: Gt
        values: ["5"]
    disruption:
      consolidationPolicy: WhenEmpty
      consolidateAfter: 30s
